<div class="content-wrapper">
  <h1 class="page-header">Record a New Headache</h1>

  <%= form_for @headache do |headache| %>
    <div class="form">

      <div class="form-field">
        <%= headache.label :onset %><br>
        <%= headache.datetime_local_field :onset %>
      </div>
      <br>

      <div class="form-field">
        <%= headache.label :ending %><br>
        <%= headache.datetime_local_field :ending %>
      </div>
      <br>

      <div class="form-field">
        <%= headache.label :severity %><br>
        <%= 10.times do |i| %>
          <%= i %> <%= headache.radio_button :severity, "#{i}" %>
        <% end %>
      </div>
      <br>

      <div class="form-section-field">
        <%= headache.fields_for :headache_factors do %>
          <%= render partial: 'headache_factors/new' %>
        <% end %>
      </div>
      <br>

      <div class="form-field">
        taken medicines
        <%= headache.fields_for :taken_medicines do %>
          <%= render partial: 'taken_medicines/new' %>
        <% end %>
      </div>
      <br>

      <div class="form-field">
        <%= headache.label :notes %><br>
        <%= headache.text_area :notes, cols: 50, rows: 5 %>
      </div>
      <br>


      <div class="submit">
        <%= headache.submit "record headache", class: "form-button" %>
      </div>

    </div>
  <% end %>
</div>